<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (metricTagsValue()) {
      <div>
        <h2 data-cy="metricTagsValueDetailsHeading">
          <span jhiTranslate="controlPlaneApp.metricTagsValue.detail.title">Metric Tags Value</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ metricTagsValue()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.metricTagsValue.value01">Value 01</span></dt>
          <dd>
            <span>{{ metricTagsValue()!.value01 }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.metricTagsValue.value256">Value 256</span></dt>
          <dd>
            <span>{{ metricTagsValue()!.value256 }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.metricTagsValue.metric">Metric</span></dt>
          <dd>
            @if (metricTagsValue()!.metric) {
              <div>
                <a [routerLink]="['/metric', metricTagsValue()!.metric?.id, 'view']">{{ metricTagsValue()!.metric?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.metricTagsValue.tenant">Tenant</span></dt>
          <dd>
            @if (metricTagsValue()!.tenant) {
              <div>
                <a [routerLink]="['/tenant', metricTagsValue()!.tenant?.id, 'view']">{{ metricTagsValue()!.tenant?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/metric-tags-value', metricTagsValue()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
