<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (alert()) {
      <div>
        <h2 data-cy="alertDetailsHeading"><span jhiTranslate="controlPlaneApp.alert.detail.title">Alert</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ alert()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.alert.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'controlPlaneApp.AlertType.' + (alert()!.type ?? 'null')">{{
              { null: '', CRITICAL: 'CRITICAL', REGULAR: 'REGULAR' }[alert()!.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.alert.name">Name</span></dt>
          <dd>
            <span>{{ alert()!.name }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.alert.description">Description</span></dt>
          <dd>
            <span>{{ alert()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="controlPlaneApp.alert.metric">Metric</span></dt>
          <dd>
            @if (alert()!.metric) {
              <div>
                <a [routerLink]="['/metric', alert()!.metric?.id, 'view']">{{ alert()!.metric?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/alert', alert()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
