@if (metricSubscriber) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(metricSubscriber.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="metricSubscriberDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-metricSubscriber-heading"
        jhiTranslate="controlPlaneApp.metricSubscriber.delete.question"
        [translateValues]="{ id: metricSubscriber.id }"
      >
        Are you sure you want to delete Metric Subscriber {{ metricSubscriber.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-metricSubscriber" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
