<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-metric-heading" data-cy="MetricCreateUpdateHeading" jhiTranslate="controlPlaneApp.metric.home.createOrEditLabel">
        Create or edit a Metric
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlPlaneApp.metric.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
                <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number"
                  >This field should be a number.</small
                >
              </div>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="controlPlaneApp.metric.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'controlPlaneApp.MetricType.null' | translate }}</option>
            @for (metricType of metricTypeValues; track $index) {
              <option [value]="metricType">{{ 'controlPlaneApp.MetricType.' + metricType | translate }}</option>
            }
          </select>
          @if (editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="controlPlaneApp.metric.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="controlPlaneApp.metric.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_criticalAlertProducerAddress"
            jhiTranslate="controlPlaneApp.metric.criticalAlertProducerAddress"
            >Critical Alert Producer Address</label
          >
          <input
            type="text"
            class="form-control"
            name="criticalAlertProducerAddress"
            id="field_criticalAlertProducerAddress"
            data-cy="criticalAlertProducerAddress"
            formControlName="criticalAlertProducerAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_criticalAlertProducerPort" jhiTranslate="controlPlaneApp.metric.criticalAlertProducerPort"
            >Critical Alert Producer Port</label
          >
          <input
            type="number"
            class="form-control"
            name="criticalAlertProducerPort"
            id="field_criticalAlertProducerPort"
            data-cy="criticalAlertProducerPort"
            formControlName="criticalAlertProducerPort"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_criticalAlertProducerUri" jhiTranslate="controlPlaneApp.metric.criticalAlertProducerUri"
            >Critical Alert Producer Uri</label
          >
          <input
            type="text"
            class="form-control"
            name="criticalAlertProducerUri"
            id="field_criticalAlertProducerUri"
            data-cy="criticalAlertProducerUri"
            formControlName="criticalAlertProducerUri"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_criticalAlertProducerStreamId"
            jhiTranslate="controlPlaneApp.metric.criticalAlertProducerStreamId"
            >Critical Alert Producer Stream Id</label
          >
          <input
            type="number"
            class="form-control"
            name="criticalAlertProducerStreamId"
            id="field_criticalAlertProducerStreamId"
            data-cy="criticalAlertProducerStreamId"
            formControlName="criticalAlertProducerStreamId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_client" jhiTranslate="controlPlaneApp.metric.client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClient"
          >
            @if (editForm.get(['client'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['client'])!.invalid && (editForm.get(['client'])!.dirty || editForm.get(['client'])!.touched)) {
          <div>
            @if (editForm.get(['client'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
