<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-alert-heading" data-cy="AlertCreateUpdateHeading" jhiTranslate="controlPlaneApp.alert.home.createOrEditLabel">
        Create or edit a Alert
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlPlaneApp.alert.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="controlPlaneApp.alert.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'controlPlaneApp.AlertType.null' | translate }}</option>
            @for (alertType of alertTypeValues; track $index) {
              <option [value]="alertType">{{ 'controlPlaneApp.AlertType.' + alertType | translate }}</option>
            }
          </select>
          @if (editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="controlPlaneApp.alert.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="controlPlaneApp.alert.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metric" jhiTranslate="controlPlaneApp.alert.metric">Metric</label>
          <select
            class="form-control"
            id="field_metric"
            data-cy="metric"
            name="metric"
            formControlName="metric"
            [compareWith]="compareMetric"
          >
            @if (editForm.get(['metric'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (metricOption of metricsSharedCollection; track $index) {
              <option [ngValue]="metricOption">{{ metricOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['metric'])!.invalid && (editForm.get(['metric'])!.dirty || editForm.get(['metric'])!.touched)) {
          <div>
            @if (editForm.get(['metric'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
