<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-alert-subscriber-heading"
        data-cy="AlertSubscriberCreateUpdateHeading"
        jhiTranslate="controlPlaneApp.alertSubscriber.home.createOrEditLabel"
      >
        Create or edit a Alert Subscriber
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="controlPlaneApp.alertSubscriber.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_subscriberAddress" jhiTranslate="controlPlaneApp.alertSubscriber.subscriberAddress"
            >Subscriber Address</label
          >
          <input
            type="text"
            class="form-control"
            name="subscriberAddress"
            id="field_subscriberAddress"
            data-cy="subscriberAddress"
            formControlName="subscriberAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subscriberPort" jhiTranslate="controlPlaneApp.alertSubscriber.subscriberPort"
            >Subscriber Port</label
          >
          <input
            type="number"
            class="form-control"
            name="subscriberPort"
            id="field_subscriberPort"
            data-cy="subscriberPort"
            formControlName="subscriberPort"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subscriberUri" jhiTranslate="controlPlaneApp.alertSubscriber.subscriberUri"
            >Subscriber Uri</label
          >
          <input
            type="text"
            class="form-control"
            name="subscriberUri"
            id="field_subscriberUri"
            data-cy="subscriberUri"
            formControlName="subscriberUri"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_subscriberStreamId" jhiTranslate="controlPlaneApp.alertSubscriber.subscriberStreamId"
            >Subscriber Stream Id</label
          >
          <input
            type="number"
            class="form-control"
            name="subscriberStreamId"
            id="field_subscriberStreamId"
            data-cy="subscriberStreamId"
            formControlName="subscriberStreamId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_alert" jhiTranslate="controlPlaneApp.alertSubscriber.alert">Alert</label>
          <select class="form-control" id="field_alert" data-cy="alert" name="alert" formControlName="alert" [compareWith]="compareAlert">
            @if (!editForm.get('alert')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (alertOption of alertsSharedCollection; track $index) {
              <option [ngValue]="alertOption">{{ alertOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['alert'])!.invalid && (editForm.get(['alert'])!.dirty || editForm.get(['alert'])!.touched)) {
          <div>
            @if (editForm.get(['alert'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_client" jhiTranslate="controlPlaneApp.alertSubscriber.client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClient"
          >
            @if (!editForm.get('client')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['client'])!.invalid && (editForm.get(['client'])!.dirty || editForm.get(['client'])!.touched)) {
          <div>
            @if (editForm.get(['client'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
